@font-face {
  font-family: "Ubuntu";
  src: url(UbuntuMono-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu";
}

form {
  padding-left: 1em;
  margin-top: 1em;
}

form input {
  padding: 5px;
  margin-bottom: 10px;
}

thead{
  background-color: rgb(5, 8, 98);
  color: white;
}

#submitBtn {
  margin-left: 1em;
}

#exportCSV {
  padding-left: 1em;
  margin-bottom: 5px;
}

#file {
  word-wrap: break-word;
}

.positive {
  color: rgb(17, 190, 17);
  font-weight: 600;
}

.negative {
  color: red;
  font-weight: 600;
}

table {
  width: 90%;
  margin: 5px auto;
  border-collapse: collapse;
}

thead th {
  font-weight: 600;
}

#newTransaction{
  margin: auto;
  text-align: center;
}

.displayNone {
  display: none;
}

th,
td {
  width: 30%;
  text-align: center;
  padding: 1em;
  border: solid 1px black;
  font-weight: 300;
  margin: 0;
}

tfoot tr td:first-of-type {
  text-align: right;
  font-weight: 600;
}
